*.pyc
*.so
*.egg-info
*.whl
*__pycache__
*~
*.orig
.*.sw?
.sw?
.DS_store
\#*\#
build
dist/
docs/build
docs/notebooks/.ipynb_checkpoints/
docs/_autosummary
/build
/dist
/.tox
/yapf.egg-info
/.idea
.vscode
/.coverage
.env
.envrc
sa.json
bazel-*
