authlib==0.15.2
datamodel-code-generator==0.6.13
fastapi==0.63.0
firebase-admin==4.5.0
flit==3.0.0
google-measurement-protocol==1.1.0
httpx==0.16.1
itsdangerous==1.1.0
pre-commit==2.9.3
pydantic[email,typing_extensions,dotenv]==1.7.3
uvicorn==0.13.2
